.contas-desvinculadas_screen{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contas-desvinculadas_content-title {
    color: #000;
    font-family: poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 2rem
    /* 71.429% */
    ;
}

.contas-desvinculadas_content{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: flex-start;
}