.menu-lateral {
    display: flex;
    height: 90vh;
    width: 110px;
    margin: 1.2vh 3rem;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #DBD7E2;
    justify-content: space-between;
    background: #FFF;
    z-index: 10;
    padding: 10px;
    gap: 10px;
    font-family: Poppins;
}

.menu-lateral-field {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}

.p-menu {
    color: #64748B;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-conectar {
    display: flex;
    width: 80%;
    min-width: max-content;
    height: 3.2rem;
    max-height: 40px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border: #35225F;
    color: #35225F;
    border-radius: 4px;
    background: #D6C0FF;
    font-size: 16px;
    cursor: pointer;
}

.navigation-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: space-evenly;
    gap: 30px;
    color: #35225F;
    width: 100%;
}

img {
    width: 70px;
}

.home-icon,
.agenda-icon,
.pacientes-icon,
.relatorios-icon {
    height: 2rem;
    width: 2rem;

}

.icons-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.configuration-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #35225F;
    width: 100%;
    margin-bottom: 1.3rem;
}

.icons-notification {
    height: 20px;
    width: 20px;
}

.menu-lateral_menu-begin {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.home-icon-link,
.agenda-icon-link,
.relatorios-icon-link,
.pacientes-icon-link{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon-link:hover,
.agenda-icon-link:hover,
.pacientes-icon-link:hover,
.relatorios-icon-link:hover {
    background-color: #F4F4F4;
    border-radius: 4px;
    transition: background 0.3s;
}