Modal {
    padding: 0;
}

.Modal {
    height: 70vh;
    padding: 0%;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.modal-setting_menu-lateral {
    border-radius: 4px 0px 0px 4px;
    border-right: 0.5px solid #cbc2de;
    width: 25vw;
    height: 70vh;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.2rem;
    flex-direction: column;
}

.modal-setting_buttons-pagination {
    width: 25vw;
}

.modal-setting_page {
    width: 52vw;
    height: 70vh;
}

.modal-setting_title {
    font-size: 1.2rem;
}

:where(.css-dev-only-do-not-override-j9z5r4).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-j9z5r4).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #fff;
}

:where(.css-dev-only-do-not-override-npw2zm).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-npw2zm).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: #C8BEDB;
}

:where(.css-dev-only-do-not-override-npw2zm).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-npw2zm).ant-menu-light>.ant-menu .ant-menu-item-selected {
    color: #35225F;
}

:where(.css-dev-only-do-not-override-1czi1ww).ant-modal .ant-modal-body {
    display: flex;
    justify-content: space-between;
}