.bem-vindo {
    background: #35225F;
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.acesso-rapido_field{
    height: 65vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bem-vindo_field {
    margin-left: 220px;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.Welcome-user_text {
    color: #FFF;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

main {

    background: rgb(249, 240, 236);
    width: 100vw;
    height: 100vh;

}



img {
    width: 70px;

}


.btn-icons {
    border: #fff;
    background-color: #FFF;
    cursor: pointer;
}

h3 {
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accept {
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: rgb(17 24 39);
    font-weight: 500;
    border-radius: 0.5rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    border: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.accept:hover {
    background-color: rgb(55 65 81);
}

.accept:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.informacao {
    
    margin-left: 250px;
}

.recentes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}

.cards-do-relatorios {
    display: flex;
    width: 70vw;
    gap: 40px;
    justify-content: space-between;
    height: 25vh;
    align-items: center;
}

hr {
    width: 72vw;
    height: 1px;
    background-color: #d6c4f6;
}

.acesso {
    margin-left: 250px;
}

.acesso-rapido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.btns-acesso {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    margin: 20px 0px 0px;

}

.button-acesso-rapido {
    display: flex;
    width: 15vw;
    max-width: 200px;
    height: 12vh;
    max-height: 100px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px;
    color: #35225F;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    border: 0.5px solid #CCC2DE;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(53, 34, 95, 0.25);
}