body {
    background: #fefcfc;
    width: 100vw;
    height: 100vh;
}

.paciente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 134px 0px 0px 0px;
    margin-right: 6vw;
    width: 75vw;
    gap: 43px;
    font-family: poppins;
}
.pacientes-page_title {
    font-family: Poppins;
    color: #35225F;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-search {
    display: flex;
    width: 550px;
    height: 40px;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid #D7D3DF;
    background: #FFF;
}

.card-pacientes_field{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

