.agenda_field {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: end;
    gap: 3vw;
}

.agenda-field_eventos-alarmes {
    width: 42vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 3rem;
}

.agenda-field_calendario-turnos {
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.agenda-field_calendario-turnos-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 95vh;
    width: 95%;
    border-radius: 8px;
    border: 2px solid rgba(73, 56, 111, 0.20);
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Isso oculta a barra de rolagem no eixo X */
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.agenda-field_calendario-turnos_calendario {
    width: 40vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agenda-field_calendario-turnos_turnos-card {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    border-top: .5px solid rgba(53, 34, 95, 0.20);
    padding-top: 1rem;
}

.agenda-card-turno_field {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: #fff;
    background: #35225F;
    border-color: #35225F;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #35225F;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #D6C0FF;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper {
    width: 8rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: poppins;
}

.eventos-alarmes_list-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: 80vh;
    transition-delay: 2s;
}

.agenda-field_eventos-alarmes_select-day{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.select-day_title {
    color: #35225F;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}