.agenda_field {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    gap: 3vw;
}

.agenda-field_eventos-turnos {
    width: 65vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 3rem;
}

.agenda-field_calendario {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agenda-field_calendario-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height:88vh;
    justify-content: center;
    width: 95%;
    border-radius: 8px;
    border: 2px solid rgba(73, 56, 111, 0.20);
    background: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
    /* Isso oculta a barra de rolagem no eixo X */
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.agenda-field_calendario_calendario {
    width: 60vw;
    margin-top: 5vh;
    padding: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.agenda-field_turnos-card {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.agenda-card-turno_field {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 20px;
    justify-content: flex-start;
    margin-top: 30px;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: #fff;
    background: #35225F;
    border-color: #35225F;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #35225F;
    font-family: poppins;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    border-color: #D6C0FF;
    font-family: poppins;
}

:where(.css-dev-only-do-not-override-i0102m).ant-radio-button-wrapper {
    width: 8rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: poppins;
}

.ant-anchor {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-anchor-wrapper:not(.ant-anchor-wrapper-horizontal) .ant-anchor .ant-anchor-ink {

    background-color: #35225F;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-anchor-wrapper .ant-anchor .ant-anchor-link-active>.ant-anchor-link-title {
    color: #35225F;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-anchor-wrapper .ant-anchor .ant-anchor-link-title {
    color: #CBC0E1;
}

.eventos-turnos_list-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    transition-delay: 2s;
}

.agenda-field_eventos-turnos_select-day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.select-day_title {
    color: #35225F;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.alarmes_list-field {
    margin-top: 1.5rem;
    display: flex;
    width: 65vw;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
    border-inline-end: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu {
    background: transparent;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid #35225F;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu {
    color: #CBC0E1;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-nllxry).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-nllxry).ant-menu .ant-menu-submenu-title {
    border-radius: 0;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected {
    color: #35225F;
}

:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after,
:where(.css-dev-only-do-not-override-nllxry).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-open::after {
    border-bottom-width: 2px;
    border-bottom-color: #35225F;
}