.cuidador-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profile-description_cuidador {
    color: #7E6F94;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.profile-name_cuidador {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cuidador-profile_background {
    width: 51vw;
    height: 20vh;
    display: flex;
    justify-content: end;
    align-items: end;
    background: linear-gradient(113deg, #35225F 1.18%, #1C1232 55.24%, #000 99.47%), #F8F0EC;
}

.cuidador-profile_edit-profile {
    display: flex;
    justify-content: end;
    margin: 0 1rem 1rem 1rem;
    align-items: end;
    width: 100%;
}

.profile-image_cuidador {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cuidador-profile_informations-field {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cuidador-profile_informations-field_first-column {
    display: flex;
    justify-content: space-between;
    width: 47vw;
    align-items: end;

}

.description-experience {
    color: #35225F;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cuidador-profile_informations-field_second-column {
    background: #CCC2DE;
    display: flex;
    padding: 20px 30px;
    align-items: center;
    gap: 10px;
}

.cuidador-profile_informations-field_third-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    width: 90%;
}

.cuidador-profile_tarefas-title {
    color: #35225F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


:where(.css-dev-only-do-not-override-1czi1ww).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-description {
    color: #7E6F94;
}

:where(.css-dev-only-do-not-override-1czi1ww).ant-list .ant-list-item .ant-list-item-meta .ant-list-item-meta-title >a {
    color: #35225F;
}

.cuidador-profile_informations-field_first-column_count-conection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: end;
}

.profile-name_cuidador,
.profile-description_cuidador{
    margin-left: 0.5rem;
}